<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Login Page</title>
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="form-container">
            <% if (locals.error && locals.error.length> 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= locals.error %>
                </div>
                <% } %>
                    <% if (locals.success && locals.success.length> 0) { %>
                        <div class="alert alert-success" role="alert">
                            <%= locals.success %>
                        </div>
                        <% } %>
                            <form action="/user/login" method="post">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="email" required>
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" required>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
        </div>
        <%- include('./partials/script') %>
</body>

<%- include('./partials/footer') %>

</html>